<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="back-btn">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      หน้าประวัติการสั่งซื้อ
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let item of items |async" >
    <ion-card-title>
      <h1>สรุปรายการ</h1>
    </ion-card-title>
    <ion-card-title>
      ชา : {{item.cha_count}} แก้ว
    </ion-card-title>
    <ion-card-title>
      กาแฟ : {{item.coffee_count}} แก้ว
    </ion-card-title>
    <ion-card-title>
      ราคารวม : {{item.sum_price}} บาท
    </ion-card-title>
  </ion-card>

  <ion-card *ngFor="let item of items |async" >
    <ion-card-title style="margin-left: 50px; margin-top: 20px;">ชาไทย</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8-4cmiyk34XBOFWj3ndrBYpZNaWPx-AMpP9C61gGrrtZV77GB-kIPPMIrMwSZAYhWmqQ&usqp=CAU"
            alt="">
        </ion-col>
        <ion-col style="text-align: center;">
          <div>
            <h1>{{item.cha_count}} แก้ว</h1>
          </div>
          <div>
            <h1>{{item.cha_price}} บาท</h1>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngFor="let item of items |async" >
    <ion-card-title style="margin-left: 50px; margin-top: 20px;">กาแฟโบราณ</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img
            src="https://img.kapook.com/u/2016/surauch/Health/coffee2.jpg"
            alt="">
        </ion-col>
        <ion-col style="text-align: center;">
          <div>
            <h1>{{item.coffee_count}} แก้ว</h1>
          </div>
          <div>
            <h1>{{item.coffee_price}} บาท</h1>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


</ion-content>