<ion-content class="auth-form">
  <ion-grid>
    <!-- <ion-row> -->
    <!-- <ion-col align-self-center> -->
    <div class="buttom">
      <ion-button [routerLink]="['/register']" expand="block" color="danger">ลงทะเบียน</ion-button>
      <span class="divider line one-line">หรือ</span>
      <span class="already">หากมีชื่อผู้ใช้ ?</span>
      <ion-button [routerLink]="['/login']" expand="block" color="primary">เข้าสู่ระบบ</ion-button>
    </div>

    <!-- </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>