<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      T&P Cafe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <ion-card routerLink="/menu">
      <img src="https://as2.ftcdn.net/v2/jpg/02/12/77/41/1000_F_212774127_dEJlXCXoaCKi5qkCPauKn6XBuenTu3iN.jpg" alt="">
      <ion-card-content>
        <h1>บันทึก</h1>
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/record">
      <img src="https://as2.ftcdn.net/v2/jpg/00/26/48/13/1000_F_26481329_ZB9IFrPlyCjxXQsmUlUdzQsJj9Kglq7A.jpg" alt="">
      <ion-card-content>
        <h1>ประวัติการข่าย</h1>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>