.font {
  font-size: 17px;
  font-family: 'Itim', cursive;
  color: black;
  // margin-top: 110%;
  // padding: 10%;
}

.font2 {
  font-size: 17px;
  font-family: 'Itim', cursive;
  color: black;
  // margin-top: 110%;
  // padding: 10%;
}

.buttom {
  // font-size: 15px;
  // font-family: 'Itim', cursive;
  // margin-top: 15%;
  padding: 10%;
  margin-top: 15%;
}
