<ion-content>

  <div style="text-align: center; margin-top:30px ;">
    <h1>T & P Cafe</h1>
  </div>
  <form class="buttom">
    <!-- <ion-item lines="full"></ion-item> -->
    <!-- <ion-item>
      <ion-label class="font" position="floating">📝 คำนำหน้า</ion-label>
      <ion-input class="font2" type="text" required></ion-input>
    </ion-item> -->
    
    <ion-item>
      <ion-label class="font" position="floating">ชื่อผู้ใช้งาน</ion-label>
      <ion-input class="font2" type="text" name="name" [(ngModel)]="name"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label class="font" position="floating">อีเมล</ion-label>
      <ion-input class="font2" type="text" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="font" position="floating">รหัสผ่าน</ion-label>
      <ion-input class="font2" type="password" name="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="font" position="floating">ยืนยันรหัสผ่าน</ion-label>
      <ion-input class="font2" type="password" name="cpassword" [(ngModel)]="cpassword"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block" (click)="submit()">ลงทะเบียน</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" routerLink='/index'>ย้อนกลับ</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>