ion-card-header{
    background-color: white;
    border: black;

}

ion-card{
    background-color: white;


}

ion-card-title{
    color: black;

}
ion-card-subtitle{
    color: black;

}

ion-toolbar{
    --background:#D4851E;
}

ion-content{

    --ion-background-color:#F2CA96;
}

.btn{
    height: 50px;
    font-size: 22px;
    margin-top: 15px;
}

img{
    border-radius: 20px;
}

ion-row{
    h5{
        text-align: center;
    }
}

.style-img{
    height: 150px;
}

.text{
    border: 2px solid black ;
    border-radius: 50px ;
    width: 50%;
    text-align: center;
    height: 20%;
    background-color: chartreuse;
    color: black;
}